pkgbase = shiki-bin
	pkgdesc = TUI note-taking app with a Yazi-inspired three-pane layout and git-backed notebooks
	pkgver = 0.4.2
	pkgrel = 1
	url = https://github.com/sazardev/shiki
	arch = x86_64
	license = MIT
	provides = shiki
	conflicts = shiki
	source = https://github.com/sazardev/shiki/releases/download/v0.4.2/shiki-v0.4.2-x86_64-unknown-linux-gnu.tar.gz
	sha256sums = 5e7cbeed41831d5eb5894de1bacd0132fdf5c65ac85568bdf7a501af170e695f

pkgname = shiki-bin
